<div class="navbar navbar-extend-md fixed-top fixed-header">
<div class="container">
    <nav>
        <a routerLink="/">HOME</a>
        <a routerLink="/add-employee">ADD EMPLOYEE</a>
    </nav>

</div>
</div>
<div class="container pt-5">
<!-- <h2>{{title}}</h2> -->
<router-outlet></router-outlet>
</div>
<!-- <app-add-employee></app-add-employee> -->
 <!-- <app-employee></app-employee> -->
<!--<app-data-binding></app-data-binding>
<app-directives></app-directives> 
<app-user-form></app-user-form> -->
<!-- <app-add-employee 
[countFromParent]="count"
(countFromChild)="getFromChild($event)">
</app-add-employee> -->


<!-- <div class="container">
    Count From child: {{ count }}
</div> -->

